[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/Teh-Lemon/hugo-theme-cactus-plus.git
[submodule "public"]
	path = public
	url = https://github.com/Teh-Lemon/Teh-Lemon.github.io.git
	branch = master
[submodule "themes/mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = https://github.com/Teh-Lemon/mediumish-gohugo-theme.git
[submodule "content"]
	path = content
	url = https://github.com/Teh-Lemon/Blog-Content.git
